<div class="post-card-with-image">
  <a href="/posts/<%= post.id %>"> <h2><%= post.title %></h2> </a>
  <br >
  Data: <%= new Date(post.createdAt).toLocaleDateString() %>
  <p>por <%= post.user.name %></p> 
  <hr width="30%" align="LEFT" />


  <div class="text-container"><p>
    <%= post.description %>
    </p>
  </div>

  <div class="post-image-container">
      
     <%if (post.images) {%> <% if (post.images.length>=1) {%>      
    <img
      src="<%=post.images[0].link%>"
      width="200"
      height="200"
      class="post-image1"
    >
    <% }else if(post.images.link){%>
       
       <img
      src="<%=post.images.link%>"
      width="200"
      height="200"
      class="post-image1"
    >
      <% }} %>
  </div>

  <% if (post.likeCount!=undefined) {%> Likes:<%-post.likeCount%> <% } %>
</div>
